GROWTH RATES + PROJECTIONS

In [16]:
import pandas as pd

The income statement shows a companyâ€™s profitability over a specified period.
The beginning line item is revenue, and when various costs/expenses are deducted, the ending line item is net income.
It allows for analysis of historical growth and operational performance

Let's create a simplified Income Statement

In [17]:
income_statement = [{'2015': 5, '2016':6, '2017':8, '2018':10, '2019':13}, {'2015': 4, '2016':4.8, '2017':6.1, '2018':8, '2019':10},{'2015': 1, '2016':1.2, '2017':1.9, '2018':2, '2019':3},]

In [18]:
income_statement

[{'2015': 5, '2016': 6, '2017': 8, '2018': 10, '2019': 13},
 {'2015': 4, '2016': 4.8, '2017': 6.1, '2018': 8, '2019': 10},
 {'2015': 1, '2016': 1.2, '2017': 1.9, '2018': 2, '2019': 3}]

In [19]:
df = pd.DataFrame(income_statement, index =['Revenue', 'Expenses', 'Profit'])

In [20]:
df

          2015  2016  2017  2018  2019
Revenue      5   6.0   8.0    10    13
Expenses     4   4.8   6.1     8    10
Profit       1   1.2   1.9     2     3

In [21]:
df['Year on Year Growth'] = ((df['2019'] - df['2018'])/df['2018'])* 100

In [22]:
df

          2015  2016  2017  2018  2019  Year on Year Growth
Revenue      5   6.0   8.0    10    13                 30.0
Expenses     4   4.8   6.1     8    10                 25.0
Profit       1   1.2   1.9     2     3                 50.0

Looking at CAGR: Compounded Annual Growth Rate
CAGR = Mean Growth Rates of numeric variables over years

In [23]:
df['CAGR'] = ((df['2019']/df['2015'])**(1/4.0)-1)*100
df

          2015  2016  2017  2018  2019  Year on Year Growth       CAGR
Revenue      5   6.0   8.0    10    13                 30.0  26.982343
Expenses     4   4.8   6.1     8    10                 25.0  25.743343
Profit       1   1.2   1.9     2     3                 50.0  31.607401

In [25]:
df['Difference between CAGR & Year on Year Growth'] = (((df['Year on Year Growth'] - df['CAGR'])**2)** 0.5)
df

,2015,2016,2017,2018,2019,Year on Year Growth,CAGR,Difference between CAGR & Year on Year Growth
Revenue,5,6.0,8.0,10,13,30.0,26.982343,3.017657
Expenses,4,4.8,6.1,8,10,25.0,25.743343,0.743343
Profit,1,1.2,1.9,2,3,50.0,31.607401,18.392599

Next, we will apply this concept and analyse Apple's Income Statement

In [28]:
df['5 Yr Projection'] = df['2019']*(1+(df['CAGR']/100))**(5)
df

,2015,2016,2017,2018,2019,Year on Year Growth,CAGR,Difference between CAGR & Year on Year Growth,5 Yr Projection
Revenue,5,6.0,8.0,10,13,30.0,26.982343,3.017657,42.920032
Expenses,4,4.8,6.1,8,10,25.0,25.743343,0.743343,31.435836
Profit,1,1.2,1.9,2,3,50.0,31.607401,18.392599,11.844666